<div class="content-wrapper mt-5">
  <div class="container-fluid mt-4">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Message</li>
    </ol>

    <div class="row">
      <div class="col-xl-12 col-sm-12 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">New Messages!</div>
            </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>Statistic</div>
        <div class="card-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="newmessages-tab" data-toggle="tab" href="#newmessages" role="tab" aria-controls="newmessages" aria-expanded="true">Unread Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sentmessages-tab" data-toggle="tab" href="#sentmessages" role="tab" aria-controls="sentmessages">Read Messages</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" id="allmessage-tab" data-toggle="tab" href="#allmessage" role="tab" aria-controls="allmessage">All Messages</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="newmessages" role="tabpanel" aria-labelledby="newmessages-tab">
              <table class="table table-responsive">
                <thead>
                  <tr>
                   <th>Title</th>
                   <th>Addresser</th>
                   <th>Sent at</th>
                 </tr>
               </thead>
               <tbody>
                <% @unreadmessage.each do |u| %>
                <tr class='clickable-row table-active' data-href='<%= edit_message_path(u.id)%>'>
                  <td> <%= u.title[0..15] %> . . .</td>
                  <td> <%= User.find(u.user_id).name %></td>
                  <td> <%= u.created_at.strftime("%d-%m-%Y %H:%M") %></td>
                </tr>
                <% end %>
              </tbody>

            </table>
          </div>
          <div class="tab-pane fade" id="sentmessages" role="tabpanel" aria-labelledby="sentmessages-tab">
            <table class="table table-responsive">
                <thead>
                  <tr>
                   <th>Title</th>
                   <th>Addresser</th>
<th>Sent at</th>
                 </tr>
               </thead>
               <tbody>
                <% @readmessage.each do |f| %>
                <tr class='clickable-row' data-href='<%= message_path(f.id)%>'>
                  <td> <%= f.title %></td>
                  <td> <%= User.find(f.user_id).name %></td>
                  <td> <%= f.created_at.strftime("%d-%m-%Y %H:%M") %></td>
                </tr>
                <% end %>
              </tbody>

            </table>
          </div>
          <div class="tab-pane fade" id="allmessage" role="tabpanel" aria-labelledby="allmessage-tab">
            <table class="table table-responsive">
                <thead>
                  <tr>
                   <th>Title</th>
                   <th>Addresser</th>
                   <th>Sent at</th>
                 </tr>
               </thead>
               <tbody>
                <% @message.each do |m| %>
                  <% if m.status == false %>
                  <tr class='clickable-row table-active' data-href="<%= edit_message_path(m.id)%>">
                    <td> <%= m.title %></td>
                    <td> <%= User.find(m.user_id).name %></td>
                    <td> <%= m.created_at.strftime("%d-%m-%Y %H:%M") %></td>
                  </tr>
                  <% else %>
                    <tr class='clickable-row' data-href='<%= message_path(m.id)%>'>
                      <td> <%= m.title %></td>
                      <td> <%= User.find(m.user_id).name %></td>
                      <td> <%= m.created_at.strftime("%d-%m-%Y %H:%M") %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer small text-muted"></div>
    </div>
  </div>
</div>
