<div class="content-wrapper mt-5">
  <div class="container-fluid mt-4">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/messages">Message</a></li>
      <li class="breadcrumb-item active">
         <%= @message.title[0..5] %> . . .</li>
      </ol>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>
          <%= @message.title %>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">

                <!-- Post Content Column -->
                <div class="col-lg-8">

                  <!-- Title -->
                  <h1 class="mt-4"> <%= @message.title %></h1>

                  <!-- Author -->
                  <p class="lead">
                    Sent to  <%= @message.user.name %>
                  </p>

                  <!-- Date/Time -->
                  <p><%= @message.created_at %></p>

                  <!-- Preview Image -->
                  <!-- Post Content -->
                  <p class="lead">
                    <%= @message.content %>
                  </p>

                  <hr>
                </div>
              </div>

          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
    </div>





</div>
