<div class="content-wrapper mt-5">
    <div class="container-fluid mt-4">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Home</li>
        </ol>
        <!-- Icon Cards-->
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-comments"></i>
                        </div>
                        <div class="mr-5"><%= @unreadmessages.count %> New Messages!</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5"><%= @sentmessages.count %> Sent Messages!</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-success o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-shopping-cart"></i>
                        </div>
                        <div class="mr-5"><%= @listfriendcurrent.count %> List Friends</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-danger o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-support"></i>
                        </div>
                        <div class="mr-5"><%= @friendrequests.count %> Friend Requests</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Area Chart Example-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i>Fast Statistic</div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="newmessages-tab" data-toggle="tab" href="#newmessages" role="tab" aria-controls="newmessages" aria-expanded="true">New Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sentmessages-tab" data-toggle="tab" href="#sentmessages" role="tab" aria-controls="sentmessages">Sent Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="friendslist-tab" data-toggle="tab" href="#friendslist" role="tab" aria-controls="friendslist" aria-expanded="true">Friends List</a>
                    </li>
                    
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="newmessages" role="tabpanel" aria-labelledby="newmessages-tab">

                        <table class="table table-responsive">
                <thead>
                  <tr>
                   <th>Title</th>
                   <th>Addresser</th>
                   <th>Sent at</th>
                 </tr>
               </thead>
               <tbody>
                <% @unreadmessages.take(3).each do |u| %>
                <tr class='clickable-row table-active' data-href='<%= edit_message_path(u.id)%>'>
                  <td> <%= u.title[0..15] %> . . .</td>
                  <td> <%= User.find(u.user_id).name %></td>
                  <td> <%= u.created_at.strftime("%d-%m-%Y %H:%M") %></td>
                </tr>
                <% end %>
              </tbody>

            </table>

                    </div>
                    <div class="tab-pane fade" id="sentmessages" role="tabpanel" aria-labelledby="sentmessages-tab">
                        <table class="table table-responsive">
                <thead>
                  <tr>
                   <th>Title</th>
                   <th>Addresser</th>
<th>Sent at</th>
                 </tr>
               </thead>
               <tbody>
                <% @sentmessages.take(3).each do |f| %>
                <tr class='clickable-row' data-href='<%= message_path(f.id)%>'>
                  <td> <%= f.title %></td>
                  <td> <%= User.find(f.user_id).name %></td>
                  <td> <%= f.created_at.strftime("%d-%m-%Y %H:%M") %></td>
                </tr>
                <% end %>
              </tbody>

            </table>
                    </div>
                    <div class="tab-pane fade" id="friendslist" role="tabpanel" aria-labelledby="friendslist-tab">
                        <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Name Friend</th>
                            </tr>
                        </thead>
                        <tbody>
                          <%= render @listfriendcurrent %>
                        </tbody>
                      </table>
                    </div>
                    
                </div>

            </div>
            <div class="card-footer small text-muted"></div>
        </div>

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
</div>
